# ================================
# Unreal Engine - Blueprint Only
# ================================

# Ignore build artefacts and temp data
Saved/
Intermediate/
DerivedDataCache/
Build/

# Ignore binaries (non usati, ma per sicurezza)
Binaries/

# Ignore Visual Studio and Rider project files (optional)
.vs/
.vscode/
.idea/
*.sln
*.suo
*.user
*.userprefs
*.VC.db
*.VC.VC.opendb

# Ignore macOS and Windows junk files
.DS_Store
Thumbs.db

# Ignore backup and log files
*.log
*.tmp
*.bak

# Ignore Movie Renders (specific folder)
Saved/MovieRenders/

# Ignore platform-specific packaged builds (optional)
LinuxNoEditor/
WindowsNoEditor/
MacNoEditor/
Android/
IOS/

*.uasset
#FILE >100MB
# Ignora file .uasset grandi >100MB specifici
Content/CommonHazel/Geometry/PivotPainter/SM_CommonHazel_Field_03_PP.uasset
Content/CommonHazel/Geometry/SimpleWind/SM_CommonHazel_Field_03.uasset
Content/CommonHazel/Textures/Impostor/Field/Field_01/T_Impostor_BaseColor_Field_01_Summer.uasset
Content/CommonHazel/Textures/Impostor/Field/Field_01/T_Impostor_BaseColor_Field_01_Winter.uasset
Content/CommonHazel/Textures/Impostor/Field/Field_01/T_Impostor_Normal_Field_01_Summer.uasset
Content/CommonHazel/Textures/Impostor/Field/Field_01/T_Impostor_Normal_Field_01_Winter.uasset
Content/CommonHazel/Textures/Impostor/Field/Field_02/T_Impostor_BaseColor_Field_02_Summer.uasset
Content/CommonHazel/Textures/Impostor/Field/Field_02/T_Impostor_Normal_Field_02_Summer.uasset
Content/CommonHazel/Textures/Impostor/Field/Field_03/T_Impostor_BaseColor_Field_03_Summer.uasset
Content/CommonHazel/Textures/Impostor/Field/Field_03/T_Impostor_Normal_Field_03_Summer.uasset
Content/CommonHazel/Textures/Impostor/Forest/Forest_01/T_Impostor_BaseColor_Forest_01_Summer.uasset
Content/CommonHazel/Textures/Impostor/Forest/Forest_01/T_Impostor_Normal_Forest_01_Summer.uasset
Content/CommonHazel/Textures/Impostor/Forest/Forest_02/T_Impostor_BaseColor_Forest_02_Summer.uasset
Content/CommonHazel/Textures/Impostor/Forest/Forest_02/T_Impostor_Normal_Forest_01_Summer.uasset
Content/CommonHazel/Textures/Impostor/Forest/Forest_03/T_Impostor_BaseColor_Forest_03_Summer.uasset
Content/CommonHazel/Textures/Impostor/Forest/Forest_03/T_Impostor_Normal_Forest_01_Summer.uasset
Content/CommonHazel/Textures/Impostor/Forest/Forest_04/T_Impostor_BaseColor_Forest_04_Summer.uasset
Content/CommonHazel/Textures/Impostor/Forest/Forest_04/T_Impostor_Normal_Forest_01_Summer.uasset
Content/CommonHazel/Textures/Tileable/T_CommonHazel_Albedo.uasset
Content/CommonHazel/Textures/Tileable/T_CommonHazel_Normal.uasset
Content/CommonHazel/Textures/Twosided/Summer/T_CommonHazel_Twosided_Summer_Albedo.uasset
Content/CommonHazel/Textures/Twosided/Summer/T_CommonHazel_Twosided_Summer_Mask.uasset
Content/CommonHazel/Textures/Twosided/Summer/T_CommonHazel_Twosided_Summer_Normal.uasset
Content/EuropeanBeech/Geometry/PivotPainter/SM_EuropeanBeech_Field_01_PP.uasset
Content/EuropeanBeech/Geometry/PivotPainter/SM_EuropeanBeech_Forest_01_PP.uasset
Content/EuropeanBeech/Geometry/PivotPainter/SM_EuropeanBeech_Forest_02_PP.uasset
Content/EuropeanBeech/Geometry/PivotPainter/SM_EuropeanBeech_Forest_03_PP.uasset
Content/EuropeanBeech/Geometry/SimpleWind/SM_EuropeanBeech_Field_01.uasset
Content/EuropeanBeech/Geometry/SimpleWind/SM_EuropeanBeech_Forest_01.uasset
Content/EuropeanBeech/Geometry/SimpleWind/SM_EuropeanBeech_Forest_02.uasset
Content/EuropeanBeech/Geometry/SimpleWind/SM_EuropeanBeech_Forest_03.uasset
Content/EuropeanBeech/Textures/Impostor/Field/Field_01/T_Impostor_BaseColor_Field_01_Summer.uasset
Content/EuropeanBeech/Textures/Impostor/Field/Field_01/T_Impostor_BaseColor_Field_01_Winter.uasset
Content/EuropeanBeech/Textures/Impostor/Field/Field_01/T_Impostor_Normal_Field_01_Summer.uasset
Content/EuropeanBeech/Textures/Impostor/Field/Field_01/T_Impostor_Normal_Field_01_Winter.uasset
Content/EuropeanBeech/Textures/Impostor/Forest/Forest_01/T_Impostor_BaseColor_Forest_01_Summer.uasset
Content/EuropeanBeech/Textures/Tileable/T_EuropeanBeech_Tileable_Mask.uasset
Content/EuropeanBeech/Textures/Tileable/T_EuropeanBeech_Tileable_Normal.uasset
Content/EuropeanBeech/Textures/Trunk/Trunk_01/T_EuropeanBeechTrunk_01_Normal.uasset
Content/EuropeanBeech/Textures/Trunk/Trunk_04/T_EuropeanBeechTrunk_04_Normal.uasset
Content/EuropeanBeech/Textures/Trunk/Trunk_05/T_EuropeanBeechTrunk_05_Normal.uasset
Content/EuropeanBeech/Textures/Trunk/Trunk_06/T_EuropeanBeechTrunk_06_Normal.uasset
Content/EuropeanBeech/Textures/TwoSided/Summer/T_EuropeanBeech_Twosided_Summer_Mask.uasset
Content/EuropeanBeech/Textures/TwoSided/Summer/T_EuropeanBeech_Twosided_Summer_Normal.uasset
Content/Fab/Megascans/Surfaces/Rough_Asphalt_vlpqdf1/Raw/T_vlpqdf1_8K_N.uasset
Saved/Autosaves/Game/Fab/Megascans/phone/PhoneBooth_Branches_Normal_Auto6.uasset
Saved/Autosaves/Game/Fab/Megascans/phone/PhoneBooth_Leaves_Normal_Auto6.uasset
Saved/Autosaves/Game/Fab/Megascans/phone/PhoneBooth_PhoneBooth_Normal_Auto6.uasset
Saved/Autosaves/Game/Fab/Megascans/phone/PhoneBooth_Phone_Normal_Auto6.uasset
Saved/Autosaves/Game/Fab/Megascans/phone/post-apocalyptic-phone-booth__1_/textures/PhoneBooth_Branches_Normal_Auto4.uasset
Saved/Autosaves/Game/Fab/Megascans/phone/post-apocalyptic-phone-booth__1_/textures/PhoneBooth_Branches_Normal_Auto5.uasset
Saved/Autosaves/Game/Fab/Megascans/phone/post-apocalyptic-phone-booth__1_/textures/PhoneBooth_Leaves_Normal_Auto4.uasset
Saved/Autosaves/Game/Fab/Megascans/phone/post-apocalyptic-phone-booth__1_/textures/PhoneBooth_Leaves_Normal_Auto5.uasset
Saved/Autosaves/Game/Fab/Megascans/phone/post-apocalyptic-phone-booth__1_/textures/PhoneBooth_PhoneBooth_Normal_Auto4.uasset
Saved/Autosaves/Game/Fab/Megascans/phone/post-apocalyptic-phone-booth__1_/textures/PhoneBooth_PhoneBooth_Normal_Auto5.uasset
Saved/Autosaves/Game/Fab/Megascans/phone/post-apocalyptic-phone-booth__1_/textures/PhoneBooth_Phone_Normal_Auto4.uasset
Saved/Autosaves/Game/Fab/Megascans/phone/post-apocalyptic-phone-booth__1_/textures/PhoneBooth_Phone_Normal_Auto5.uasset
Saved/Autosaves/Game/Fab/Megascans/Surfaces/Rough_Asphalt_vlpqdf1/Raw/T_vlpqdf1_8K_B_Auto1.uasset
Saved/Autosaves/Game/Fab/Megascans/Surfaces/Rough_Asphalt_vlpqdf1/Raw/T_vlpqdf1_8K_B_Auto4.uasset
Saved/Autosaves/Game/Fab/Megascans/Surfaces/Rough_Asphalt_vlpqdf1/Raw/T_vlpqdf1_8K_N_Auto1.uasset
Saved/Autosaves/Game/Fab/Megascans/Surfaces/Rough_Asphalt_vlpqdf1/Raw/T_vlpqdf1_8K_N_Auto4.uasset
Saved/Autosaves/Game/Fab/Megascans/Surfaces/Rough_Asphalt_vlpqdf1/Raw/T_vlpqdf1_8K_ORM_Auto1.uasset
Saved/Autosaves/Game/Fab/Megascans/Surfaces/Rough_Asphalt_vlpqdf1/Raw/T_vlpqdf1_8K_ORM_Auto4.uasset


# ================================
# End of .gitignore
# ================================
